version: '3'
services:
  postgres:
    image: postgres:11-alpine
  frontend:
    image: sayonika/frontend:beta
    ports:
      - 8080:8080
    environment:
      - SAYONIKA_RECAPTCHA_INVISIBLE_SITE_KEY
      - SAYONIKA_RECAPTCHA_CHECKBOX_SITE_KEY
      - SAYONIKA_API_ORIGIN=http://backend:8000/
  backend:
    image: sayonika/backend:beta
    ports:
      - 8081:8000
    environment:
      - SAYONIKA_DB_HOST=postgres
      - SAYONIKA_DB_PORT=5432
      - SAYONIKA_DB_USER=postgres
      - SAYONIKA_DB_PASS=
      - SAYONIKA_DB_NAME=postgres
      - SAYONIKA_JWT_SECRET
      - SAYONIKA_OWO_KEY
      - SAYONIKA_RECAPTCHA_INVISIBLE_SECRET_KEY
      - SAYONIKA_RECAPTCHA_CHECKBOX_SECRET_KEY
      - SAYONIKA_AES_KEY
  services:
    image: sayonika/services:beta
    ports:
      - 8082:9000
    environment:
      - SAYONIKA_DB_HOST=postgres
      - SAYONIKA_DB_PORT=5432
      - SAYONIKA_DB_USER=postgres
      - SAYONIKA_DB_PASS=
      - SAYONIKA_DB_NAME=postgres
      - SAYONIKA_AV_VIRUSTOTAL_APIKEY

